@inherits LayoutComponentBase
@layout AuthenticatingLayout
<div class="container-fluid">
    <div class="page container-fluid">
        <NavBar></NavBar>

        <main>
            @Body
        </main>
    </div>
</div>
