<div class="container-fluid">
    <nav class="navbar navbar-expand-lg fixed-top taw-navbar">
        <div class="container-fluid justify-content-between taw-nav-ribbon">
            <div class="d-flex justify-content-start">
            </div>
        </div>
    </nav>
</div>
