<div class="taw-text-background-image-@_id">
    <style>
        .taw-text-background-image-text-@(_id) {
            color: transparent;
            background-image: url(@ImageFile);
            font-family: @TheFontSettings.FontFamily;
            font-size: @(TheFontSettings.FontSize)px;
              -moz-background-clip: text;
              -webkit-background-clip: text;
              background-size: cover;
        }
    </style>
    <p class="taw-text-background-image-text-@_id">
        @Text
    </p>
</div>

