<style>
    @ContainerRule

    @GeneralAnimateSpanRule

    @SpanRules
        

</style>


<div class="taw-text-gliding-in-text">
    <div class="@IdFor("container")">
        @SpannedText
    </div>
</div>