<div class="@(TerminalId)">
    <style>
        @TextContainerRule
        @CursorRule
    </style>

    <div class="@(IdFor("text-container"))">
       @CurrentMarkup <div class="@(IdFor("cursor"))"></div>
    </div>

</div>