@using ThousandAcreWoods.UI.Components.Chalkboard
@using ThousandAcreWoods.UI.Pages.Common
@using ThousandAcreWoods.UI.Components.TextUtilities
@using ThousandAcreWoods.UI.Components.AnimatedFonts.Kalam;

@page "/sample"
@layout EmptyLayout

<div class="taw-sample-bg-container">
    <Chalkboard></Chalkboard>
</div>

